<mat-card class="structure-card" [class]="class">
  <mat-card-content>
    <div class="card-input-fields">
      <mat-form-field appearance="fill">
        <mat-label>Structure</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <app-increment-input [class]="class" />
    </div>
    <div class="structure-power">
      <mat-icon>bolt</mat-icon>
      <span>12 ~ 24</span>
    </div>
    <div class="card-actions">
      <button mat-icon-button class="green"><mat-icon>check</mat-icon></button>
      <button mat-icon-button class="red"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-content>
</mat-card>
