<mat-card class="structure-card" [class]="class">
  <mat-card-content>
    <div class="card-input-fields">
      <span *ngIf="!enableDropdown">{{ data.structure?.name ?? '' }}</span>
      <mat-form-field appearance="fill" *ngIf="enableDropdown">
        <mat-label>Structure</mat-label>
        <mat-select panelClass="{{class}}" [formControl]="structureCtrl" [(ngModel)]="currentStructureName" (selectionChange)="updateStructure()" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="structureFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let structure of filteredStructures | async" [value]="structure.name">{{ structure.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <app-increment-input [class]="class" [data]="data" (valueUpdated)="sendUpdatedEvent($event)" />
      <span class="green-label" *ngIf="data.amount_desired > data.amount_build && !enableDropdown">+ {{ calculateChange() }}</span>
      <span class="red-label" *ngIf="data.amount_desired < data.amount_build && !enableDropdown">- {{ calculateChange() }}</span>
    </div>
    <div class="structure-power">
      <mat-icon>bolt</mat-icon>
      <span *ngIf="!enableDropdown">{{ formatPowerDemandOrProduction() }}</span>
      <span *ngIf="enableDropdown">{{ calculatePowerChange() }}</span>
      <span [class]="determineLabelClass()" *ngIf="data.amount_desired > data.amount_build && !enableDropdown">+ {{ calculatePowerChange() }}</span>
      <span class="red-label" *ngIf="data.amount_desired < data.amount_build && !enableDropdown">- {{ calculatePowerChange() }}</span>
    </div>
    <div class="card-actions">
      <button mat-icon-button class="green" *ngIf="includeConfirm" [disabled]="confirmEnabled()" (click)="confirmStructure()"><mat-icon>check</mat-icon></button>
      <button mat-icon-button class="red" (click)="deleteStructure()"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-content>
</mat-card>
