<mat-form-field appearance="fill" class="increment-input" [class]="class">
  <input matInput type="number" [(ngModel)]="_value" (change)="onChange()" (focus)="setColor('primary')" (blur)="setColor('default')" />
  <div class="increment-input-buttons">
    <button
      mat-stroked-button
      matPrefix
      [color]="getColor()"
      (click)="incrementValue(-_step)"
      [disabled]="shouldDisableDecrement(_value)">
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-stroked-button
      matSuffix
      [color]="getColor()"
      (click)="incrementValue(_step)"
      [disabled]="shouldDisableIncrement(_value)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  </mat-form-field>
