@import "../../../assets/scss/colors";

mat-form-field.increment-input {
  width: 100px;
  text-align: center;
  -moz-appearance: textfield;

  &.light {

    ::ng-deep .mdc-text-field__input {
      color: $panel_light_background !important;
    }

    button {
      color: $panel_light_background;
      border-color: $panel_light_background !important;

      &:disabled,
      &.mat-primary:disabled {
        color: $dark_text !important;
      }

      &.mat-primary {
        color: $panel_light_background !important;
      }
    }
  }

  ::ng-deep .mat-mdc-form-field-flex {
    padding: 0;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
  }

  ::ng-deep .mdc-text-field__input {
    color: $panel-content-text !important;
  }

  input {
    text-align: center;
    margin: 12px 15px 12px 9px;
  }

  .increment-input-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 28px;
    border-left: 1px;

    button {
      font-size: 12px;
      background: transparent;
      height: 28px;
      width: 28px;
      min-width: 28px;
      border-radius: 0px;
      padding: 0;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 0px;
      border-color: $panel_dark_background;

      &:disabled,
      &.mat-primary:disabled {
        color: $dark_text;
      }

      &.mat-primary {
        color: $panel-content-text;
      }

      mat-icon {
        margin: 0 auto;
      }

      ::ng-deep .mat-mdc-button-touch-target,
      ::ng-deep .mat-mdc-focus-indicator{
        width: 10px;
        display: block;
      }
    }
  }

  ::ng-deep .mat-form-field-prefix {
    button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: transparent;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
