<div id="planner-container">
  <div id="planner-outposts">
    <div class="column-actions">
      <button mat-button class="orange" (click)="createOutpost()">
        <mat-icon>add</mat-icon>
        Add Outpost
      </button>
    </div>

    <div id="outpost-list">
      <div *ngIf="data && data.outposts.length > 0; else no_outposts">
        <app-outpost-card
          *ngFor="let otp of data.outposts;"
          [data]="otp"
          [class]="{ 'light': isActiveOutpost(otp) }"
          (click)="setActiveOutpost(otp)"
          (deleted)="deleteOutpost(otp)"
          (modified)="modifyOutpost(otp, $event)"/>
      </div>
      <ng-template #no_outposts>
        <div class="no_records_containers">
          <p>No outposts have been configured yet. Would you like to get started by adding your first outpost?</p>
          <div class="horizontal-alignment">
            <button mat-button class="orange" (click)="createOutpost()">Yes</button>
            <button mat-button class="red" (click)="createOutpost()">Yes, but in red</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div id="planner-structures">
    <div class="column-actions">
      <button mat-button class="orange" [disabled]="!activeOutpost" (click)="addUnsavedStructure()">
        <mat-icon>add</mat-icon>
        Add Structure
      </button>
    </div>

    <div id="structure-list">
      <div *ngIf="activeOutpost; else no_active_outpost">
        <div *ngIf="activeOutpost.unsaved_structures.length > 0; else no_unsaved_structures">
          <div class="structure-group">
            <h2>Temporary (unsaved)</h2>
            <app-structure-card class="light" *ngFor="let structure of activeOutpost.unsaved_structures" [includeConfirm]="true" [enableDropdown]="true" [data]="structure" [structureOptions$]="structures" (confirmed)="addStructureToActiveOutpost(structure)" (deleted)="removeStructureFromActiveOutpost(structure)" />
          </div>
        </div>
        <div *ngIf="activeOutpost.structures.length > 0;">
          <div class="structure-group" *ngFor="let category of getStructureCategories()">
            <h2>{{ category }}</h2>
            <app-structure-card *ngFor="let outpostStructure of groupedOutpostStructures[category]" [enableDropdown]="false" [data]="outpostStructure" [structureOptions$]="structures" (deleted)="removeStructureFromActiveOutpost(outpostStructure)" (updated)="saveStructureUpdate(true)" />
          </div>
        </div>
        <ng-template #no_unsaved_structures>
          <div id="no_unsaved_structures" class="structure-group">
            <h2>Temporary (unsaved)</h2>
            <p>No unsaved structures</p>
          </div>
        </ng-template>
      </div>
      <ng-template #no_active_outpost>
        <div id="no_active_outpost">
          <p>No outpost selected.</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div id="planner-queue">
    <app-queue [data]="data" [updateQueue]="updateQueueSubject.asObservable()" (updated)="saveStructureUpdate(false)" />
  </div>
</div>
