<div id="planner-container">
  <div id="planner-outposts">
    <div class="column-actions">
      <button mat-button class="orange">
        <mat-icon>add</mat-icon>
        Add Outpost
      </button>
    </div>

    <div id="outpost-list" >
      <app-outpost-card class="light" />
      <app-outpost-card />
      <app-outpost-card />
      <app-outpost-card />
    </div>
  </div>
  <div id="planner-structures">
    <div class="column-actions">
      <button mat-button class="orange">
        <mat-icon>add</mat-icon>
        Add Structure
      </button>
    </div>

    <div id="structure-list">
      <div class="structure-group">
        <h2>Unspecified</h2>
        <app-structure-card class="light" />
        <app-structure-card class="light" />
      </div>

      <div class="structure-group">
        <h2>Power</h2>
        <app-structure-card />
        <app-structure-card />
        <app-structure-card />
        <app-structure-card />
      </div>

      <div class="structure-group">
        <h2>Builders</h2>
        <app-structure-card />
        <app-structure-card />
        <app-structure-card />
        <app-structure-card />
      </div>
    </div>
  </div>
  <div id="planner-queue">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Required Resources</mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faMicrochip"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faMicrochip"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
        <tr>
          <td><fa-icon [icon]="faAtom"></fa-icon></td>
          <td>Iron</td>
          <td>x440</td>
          <td>270 KG</td>
        </tr>
      </table>
    </mat-expansion-panel>

    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Adaptive Frames Outpost
            <mat-icon>check</mat-icon>
            <mat-panel-description>(Alpha Centauri, Jemison, Taurus)</mat-panel-description>
            <button mat-icon-button class="green panel-title-button" (click)="deleteQueuedOutpost($event)" matTooltip="Mark as completed"><mat-icon>check</mat-icon></button>
            <button mat-icon-button class="red panel-title-button" (click)="deleteQueuedOutpost($event)" matTooltip="Delete from queue"><mat-icon>delete</mat-icon></button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-checkbox>Solar Array (x10)</mat-checkbox></mat-list-item>
          <mat-list-item><mat-checkbox>Ore Mine - Commercial (x10)</mat-checkbox></mat-list-item>
          <mat-list-item><mat-checkbox>Fabricator (x10)</mat-checkbox></mat-list-item>
          <mat-list-item><mat-checkbox>Something Else (x10)</mat-checkbox></mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Adaptive Frames Outpost
            <mat-icon>check</mat-icon>
            <mat-panel-description>(Alpha Centauri, Jemison, Taurus)</mat-panel-description>
            <button mat-icon-button class="green panel-title-button" (click)="deleteQueuedOutpost($event)" matTooltip="Mark as completed"><mat-icon>check</mat-icon></button>
            <button mat-icon-button class="red panel-title-button" (click)="deleteQueuedOutpost($event)" matTooltip="Delete from queue"><mat-icon>delete</mat-icon></button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-checkbox>Solar Array (x10)</mat-checkbox></mat-list-item>
          <mat-list-item><mat-checkbox>Ore Mine - Commercial (x10)</mat-checkbox></mat-list-item>
          <mat-list-item><mat-checkbox>Fabricator (x10)</mat-checkbox></mat-list-item>
          <mat-list-item><mat-checkbox>Something Else (x10)</mat-checkbox></mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>




<!--<h1>Outposts</h1>-->

<!--<div class="" *ngIf="outpostsLoaded; else loading">-->
<!--    <div class="autosave-container">-->
<!--        <div class="ellipsis" [class]="{ 'transition': automaticSaveIndicatorVisible || manualSaveIndicatorVisible }" (click)="performAutomaticPersist(false)" [matTooltip]="getAutosaveTooltip()" matTooltipPosition="left">-->
<!--            <div class="save-button">-->
<!--                <span class="saved-text" *ngIf="automaticSaveIndicatorVisible">Auto Saved!</span>-->
<!--                <span class="saved-text" *ngIf="manualSaveIndicatorVisible">Saved!</span>-->
<!--                <mat-icon>save</mat-icon>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="outpost-container" *ngIf="outposts.length > 0; else no_outpost">-->

<!--        <div class="outpost-list">-->
<!--            <h3>Your Outposts</h3>-->
<!--            <ul>-->
<!--                <li *ngFor="let outpost of outposts" (click)="setActiveOutpost(outpost)" [class]="{ 'active-outpost': isActiveOutpost(outpost) }">-->
<!--                    <span class="name">{{ outpost.Name }}</span>-->
<!--                    <span class="location"><mat-icon>location_on</mat-icon> {{ outpost.System }}, {{ outpost.Planet }}</span>-->
<!--                    <span class="moon" *ngIf="outpost.Moon">, {{ outpost.Moon }}</span>-->
<!--                    <div class="actions" *ngIf="isActiveOutpost(outpost)">-->
<!--                        <button mat-stroked-button (click)="editOutpost(outpost)">Edit</button>-->
<!--                        <button mat-stroked-button (click)="deleteOutpost(outpost)">Delete</button>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <button mat-raised-button (click)="createOutpost()" class="accented">Create New Outpost</button>-->
<!--        </div>-->
<!--        <div class="outpost-structures">-->
<!--            <h3>Structures</h3>-->

<!--            <ul *ngIf="activeOutpost && activeOutpost.OutpostStructures && activeOutpost.OutpostStructures.length > 0; else no_structures">-->
<!--                <li *ngFor="let structure of activeOutpost.OutpostStructures" class="structure">-->
<!--                    <div class="structure-row">-->
<!--                        <div class="structure-type">-->
<!--                            <mat-form-field appearance="fill">-->
<!--                                <mat-label>Structure</mat-label>-->
<!--                                <mat-select panelClass="structure-dropdown" [(value)]="structure.Structure.Name">-->
<!--                                  <mat-option [value]="food.viewValue" *ngFor="let food of foods" >-->
<!--                                    {{food.viewValue}}-->
<!--                                  </mat-option>-->
<!--                                </mat-select>-->
<!--                              </mat-form-field>-->
<!--                        </div>-->
<!--                        <div class="structure-amount">-->
<!--                            <app-increment-input (valueUpdated)="updateAmount(structure, $event)" [value]="structure.DesiredBuild" [step]="1" [min]="0" [max]="99" [wrap]="false"></app-increment-input>-->
<!--                        </div>-->
<!--                        <div class="structure-actions">-->
<!--                            <button mat-stroked-button>Upgrade</button>-->
<!--                            <button mat-stroked-button>Delete</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <button mat-raised-button (click)="addBlueprintStructure()" class="accented">Add Structure</button>-->
<!--                </li>-->
<!--            </ul>-->

<!--            <ng-template #no_structures>-->
<!--                <div class="no_structures">-->
<!--                    <h2>No existing structures for this outpost.</h2>-->
<!--                    <p>To get started with your outpost, click the button below.</p>-->
<!--                    <button mat-raised-button (click)="addBlueprintStructure()" class="accented">Add your first structure</button>-->
<!--                </div>-->
<!--            </ng-template>-->
<!--        </div>-->
<!--        <div class="outpost-planner">-->
<!--            <h3>Build Queue</h3>-->

<!--            <div *ngIf="buildQueue.length > 0; else no_queue">-->
<!--                <div *ngFor="let groupedOutpost of buildQueue | groupBy: 'OutpostName'">-->
<!--                    <div class="group-title-row">-->
<!--                      <mat-checkbox class="example-margin"-->
<!--                                    [indeterminate]="buildQueueSomeCompleted(groupedOutpost)"-->
<!--                                    [checked]="amountBuildQueueNotYetCompleted(groupedOutpost) === 0"-->
<!--                                    [disabled]="amountBuildQueueNotYetCompleted(groupedOutpost) === 0"-->
<!--                                    (change)="markAllCompleted(groupedOutpost)">-->
<!--                                    {{groupedOutpost.key}} ({{groupedOutpost.value.length}})-->
<!--                      </mat-checkbox>-->
<!--                    </div>-->
<!--                      <ul  class="group-rows">-->
<!--                        <li *ngFor="let queueOutpost of groupedOutpost.value">-->
<!--                          <mat-checkbox-->
<!--                          [checked]="isBuild(queueOutpost)"-->
<!--                          [disabled]="isBuild(queueOutpost)"-->
<!--                          (click)="markComplete(queueOutpost)"-->
<!--                          *ngIf="queueOutpost.Structure.Structure.Name; else not_specified">-->
<!--                            {{queueOutpost.Structure.Structure.Name}}-->
<!--                            <span *ngIf="!isBuild(queueOutpost)">({{queueOutpost.Structure.DesiredBuild - queueOutpost.Structure.CurrentlyBuild}})</span>-->
<!--                            <span *ngIf="isBuild(queueOutpost)">(build completed)</span>-->
<!--                          </mat-checkbox>-->
<!--                          <ng-template #not_specified>-->
<!--                            <div class="not_specified">-->
<!--                                <mat-icon>warning</mat-icon>-->
<!--                                <span>Structure Unspecified ({{queueOutpost.Structure.DesiredBuild - queueOutpost.Structure.CurrentlyBuild}})</span>-->
<!--                            </div>-->
<!--                          </ng-template>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <ng-template #no_queue>-->
<!--                <p>No structures are placed in the building queue.</p>-->
<!--            </ng-template>-->

<!--        </div>-->
<!--    </div>-->

<!--    <ng-template #no_outpost>-->
<!--        <div class="no_outpost">-->
<!--            <h2>No existing outpost data found.</h2>-->
<!--            <p>To get starting with the outpost planner, click the button below.</p>-->
<!--            <button mat-raised-button (click)="createOutpost()" class="accented">Plan your first outpost</button>-->
<!--        </div>-->
<!--    </ng-template>-->
<!--</div>-->

<!--<ng-template #loading>Loading outposts...</ng-template>-->

