<h3 mat-dialog-title>Create Outpost</h3>
<div mat-dialog-content>
  <ul>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>Outpost Name</mat-label>
        <input matInput type="text" [formControl]="outpostFormControl" [(ngModel)]="data.Name">
        <button *ngIf="data.Name" matSuffix mat-icon-button aria-label="Clear" (click)="data.Name=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="end">{{data.Name.length}} / 25</mat-hint>
        <mat-error *ngIf="outpostFormControl.hasError('required')">
          Outpost name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="outpostFormControl.hasError('minlength')">
          Outpost name needs to be at least <strong>3 characters</strong> long
        </mat-error>
        <mat-error *ngIf="outpostFormControl.hasError('maxlength')">
          Outpost name can only be <strong>25 characters</strong> long
        </mat-error>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>System</mat-label>
        <input matInput type="text" [formControl]="systemFormControl" [(ngModel)]="data.System">
        <button *ngIf="data.System" matSuffix mat-icon-button aria-label="Clear" (click)="data.System=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="end">{{data.System.length}} / 25</mat-hint>
        <mat-error *ngIf="systemFormControl.hasError('required')">
          System name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="systemFormControl.hasError('minlength')">
          System name needs to be at least <strong>3 characters</strong> long
        </mat-error>
        <mat-error *ngIf="systemFormControl.hasError('maxlength')">
          System name can only be <strong>25 characters</strong> long
        </mat-error>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>Planet</mat-label>
        <input matInput type="text" [formControl]="planetFormControl" [(ngModel)]="data.Planet">
        <button *ngIf="data.Planet" matSuffix mat-icon-button aria-label="Clear" (click)="data.Planet=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="end">{{data.Planet.length}} / 25</mat-hint>
        <mat-error *ngIf="planetFormControl.hasError('required')">
          Planet name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="planetFormControl.hasError('minlength')">
          Planet name needs to be at least <strong>3 characters</strong> long
        </mat-error>
        <mat-error *ngIf="planetFormControl.hasError('maxlength')">
          Planet name can only be <strong>25 characters</strong> long
        </mat-error>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>Moon</mat-label>
        <input matInput type="text" [formControl]="moonFormControl" [(ngModel)]="data.Moon">
        <button *ngIf="data.Moon" matSuffix mat-icon-button aria-label="Clear" (click)="data.Moon=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="moonFormControl.hasError('maxlength')">
          Moon name is exceeding the <strong>max length</strong>
        </mat-error>
        <mat-hint align="end">{{data.Moon?.length}} / 25</mat-hint>
      </mat-form-field>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="accent" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!isFormValid()">Save Outpost</button>
</div>