<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
    <div class="header-container">
      <span class="navbar-brand">Starfield Outpost Planner</span>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item active-link"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Planner</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="custom-buttons">
        <button mat-button class="red" (click)="joinCommunity()"><fa-icon [icon]="faDiscord"></fa-icon> Get Support!</button>
      </div>
    </div>
  </nav>
</header>
