<mat-card class="outpost-card" [class]="class">
  <mat-card-content>
    <mat-icon>cell_tower</mat-icon>
    <div class="outpost-name">
      <span class="title">Adaptive Frames Outpost</span>
      <span class="location">Alpha Centauri, Jemison, Taurus</span>
    </div>
    <div class="card-actions">
      <button mat-icon-button class="orange"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button class="red"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-content>
</mat-card>
