@import "../assets/scss/colors";

#notification-container {
  margin: 20px;

  #notification-message {
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;

    & .title {
      font-weight: 500;
      margin-bottom: 10px;
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    a {
      cursor: pointer;
      text-decoration: underline;
      color: white;
    }

    &.error {
      background: $red-dark;
    }
  }
}

footer {
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  color: $dark_text;

  div#powered-by {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;

    span:first-child {
      font-size: 14px;
    }

    img {
      width: 60px;
      height: 45px;
      margin: 0 auto 20px auto;
    }

    button {
      background: $panel_light_background;
      margin: 4px 10px;

      fa-icon  {
        height: 20px;
        width: 17px;
      }
    }
  }

  #copyright {
    padding: 14px 0 25px 0;
    text-align: center;
    font-size: 14px;
  }
}



